body {
    background: url(images/greyred.jpg) no-repeat;
    background-size: cover;
    margin-left: 10%;
    font-family: Arial;
    color: aliceblue;
}

/*** Navigation Bar **/
ul{
    list-style-type: none;
    position: fixed;
    margin :0 0 2% 0;
    padding:15px 0 15px 0;
    width: 100%;
    background: #000000;
    border : 1px solid black ;
    top:0;
    left: 0;
    color: white;
}
 ul li{
    display: inline-block;
    border :1px solid #000000;
    margin: 0 2% 0 2%;
    
}


a{
    text-decoration: none;
    color: white;
}
.clear:after{
    clear:both;
    content: "";
    display: table;
}
/*** Pictures **/
.art {
    float: left;
    padding-left: 10%;
    padding-bottom: 5%;

}

.hbhtml {
    float: left;
    width: 
}

.careerpic {
    float: left
}

.w1 {
    float: left;
    padding-left: 10%;
    padding-bottom: 5%;
    
}

.w2 {
    float: left;
    padding-left: 10%;
    padding-bottom: 5%;
}

.w3 {
    float: left;
    padding-left: 10%;
    padding-bottom: 5%;
}

.cw {
    float: left;
    padding-left: 10%;
    padding-bottom: 5%;
    width: 
}

.hb{
    float: left;
    padding-left: 10%;
    padding-bottom: 5%;
    width: 
}

.ttobp {
    float: left;
    padding-left: 10%;
    padding-bottom: 5%;
    width: 25%;
    height: 25%;
}

/*** Text **/
.bmc {
    width: 35%; 
    font-family: 'Yatra One', cursive;
    font-size: 29px;
    
}

.txt-r {
    padding-left: 10%;
    padding-right: 10%;
    float: right;
    width: 50%;
    font-family: 'Jura', sans-serif;
}

.txt-l{
    padding-left: 10%;
    padding-right: 10%;
    float: left;
    width: 50%;
    font-family: 'Jura', sans-serif;
}

.titles {
    text-align: center;
    font-family: 'Yatra One', cursive;
    padding-top: 5;
}

/*** flex boxes **/
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



